/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #F7B8DE; /* light pink */
    --secondary-color: #BF608C; /* dark pink */
    --highlight-color-light: #DC8DB6; /* regular pink */


}

/* Global styles */
body {
    background-color: white;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section {
    padding-top: 4rem; /* This will prevent navbar overlap */
}

.sub-heading-color {
    color: var(--highlight-color-light);
}

/* Buttons */
.custom-button-outline {
    color: var(--highlight-color-light);
    border: 3px solid var(--secondary-color);
    padding: 7px 25px;
}

.custom-button-outline:hover {
    background-color: var(--primary-color);
    color: white;
}

.custom-button-filled {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color-light);
    background-color: white;
    color: var(--secondary-color);
}
/* Navbar */
.navbar {
    background-color: var(--primary-color);
}
.logo {
    width: 35px;
    margin-left: 30px;
}

.nav-link:hover {
    color: white;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: white;
}

/* Header */
.fixed-height {
    height: 398px;
    width: 248px;
}

.header .lead {
    font-family: var(--secondary-font)
}

/* Main */
/* Weddings & Anniversaries */

/* birthdays & graduations */

#student {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2rem;
    padding: 5px;
}

/* Footer / contact */
.footer {
    background-color: var(--primary-color);
    padding-bottom: 3rem;
}

.footer h2 {
    color: var(--highlight-color-light);
}

.footer .sub-heading-color {
    color: var(--secondary-color);
}

.footer i {
    color:  var(--secondary-color);
    font-size: 1.2rem;
    padding-right: 15px;
}

.footer .social-links i {
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

.footer .social-links i:hover {
    color: white;
}

.footer .table * {
    background-color: transparent;
}

      
.table tbody tr:hover {
    background-color: var(--highlight-color-light);
}