body {
    background-color: white;
}

/* Navbar */
.navbar {
    background-color: #F7B8DE;
}
.logo {
    width: 30px;
}

/* Header */
.fixed-height {
    height: 398px;
    width: 248px;
}

/* Main */
/* Weddings & Anniversaries */
